# -----------------------------------------------------------------------------------------
# Name: ELROY ANKELMBOM KIMBI YONGHABICHIA
# RegNo: UBA19E0168
## Course: Data Analysis  4108
### Level: 400
# -----------------------------------------------------------------------------------------

In [ ]:
import pandas as pd
import numpy as np
import random as rd
import math

In [58]:
def frequency_distribution(data, nc):
    '''
    data: the dataset of which we wish to get the frequency distribution of
    nc: number of classes for which we require for the groups
    '''
    data = sorted(data) # sort the data first
    lr, hr = get_rounds(data) # get the bounds of the data from lowest to highest
    
    # gen_classes(nc, lr, hr): to get a list of tuples which are the classes
    # this list-comp generates a dictionary with key as the class and following as the members
    #grouped = [[i, [j for j in data if j >= i[0] and j<= i[1]]] for i in gen_classes(nc, lr, hr)]
    grouped = {i: [j for j in data if j >= i[0] and j <= i[1]] for i in gen_classes(nc, lr, hr)}
    
    # extract the list from each attr-value and assign a new dict to contain fq
    freq_dist = {i: len(grouped.get(i)) for i in grouped}          
    return [grouped, freq_dist]
    
def get_rounds(data):
    '''
    get_rounds: get the nearest ten less than the lowest value in the sample,
    get_rounds: get the nearest ten greater than the lowersr
    '''
    data = sorted(data)
    lowest_round = round(data[0], -1)
    if lowest_round > data[0]:
        lowest_round = lowest_round - 10
    highest_round = round(data[-1], -1)
    return (lowest_round, highest_round)


def gen_classes(nc, lr, hr):
    '''
    lr -> lower round
    hr -> higher round
    nc -> number of classes
    
    gen_classes: Gotten the lr, hr and nc.
    gen classes: hr and lr will be used to get the bounds
    bounds is divided by nc to get the mid randint
    '''
    bounds = hr - lr
    mid_r = math.floor(bounds/nc)
    class_sizes = [0]
    
    # class sizes could be generated in such a way that sum of all must be 50
    while sum(class_sizes) != 50 and not all(i < 0 for i in class_sizes):
        class_sizes = [rd.randint(mid_r - 2, mid_r + 2) for i in range(nc)]
        
    # initialise the classes as empty
    classes = []
    curr_ind = 0
    next_ind = 0
    for i in class_sizes:
        next_ind = next_ind + i
        classes.append((curr_ind, next_ind))
        curr_ind = next_ind + 1
    return classes
    
def print_dist(fq):
    data = {'Classes': list(fq[1].keys()), 'Members': list(fq[0].values()), 'Frequency': list(fq[1].values())}
    dist_df = pd.DataFrame(data)
    return dist_df

# Ex136 Q4
The time taken in hours to the failure of 50 specimens of a metal subjected to fatigue failure tests are as shown. Form a frequency distribution, having about 8 specimens and unequal class intervals, for these data:
[
    28, 22, 23, 20, 12, 24, 37, 28, 21, 25,
    21, 14, 30, 23, 27, 13, 23, 7, 26, 19, 
    24, 22, 26, 3, 21, 24, 28, 40, 27, 24,
    20, 25, 23, 26, 47, 21, 29, 26, 22, 33,
    27, 9, 13, 35, 20, 16, 20, 25, 18, 22
]

In [59]:
data = [
    28, 22, 23, 20, 12, 24, 37, 28, 21, 25,
    21, 14, 30, 23, 27, 13, 23, 7, 26, 19, 
    24, 22, 26, 3, 21, 24, 28, 40, 27, 24,
    20, 25, 23, 26, 47, 21, 29, 26, 22, 33,
    27, 9, 13, 35, 20, 16, 20, 25, 18, 22
]

fq = frequency_distribution(data, 8)
print_dist(fq)

    Classes                                            Members  Frequency
0    (0, 7)                                             [3, 7]          2
1   (8, 15)                                [9, 12, 13, 13, 14]          5
2  (16, 21)       [16, 18, 19, 20, 20, 20, 20, 21, 21, 21, 21]         11
3  (22, 25)  [22, 22, 22, 22, 23, 23, 23, 23, 24, 24, 24, 2...         15
4  (26, 32)   [26, 26, 26, 26, 27, 27, 27, 28, 28, 28, 29, 30]         12
5  (33, 38)                                       [33, 35, 37]          3
6  (39, 44)                                               [40]          1
7  (45, 50)                                               [47]          1

All the functions above are utility pieces of code that were used to organise, structure and calculate the data provided.